<table>
  <thead>
    <tr>
      <th>Chemical</th>
      <th>Question</th>
      <th>Answer</th>
    </tr>
  </thead>
  <tbody>
  <% @chemical_questions.each do |cq| %>
      <tr>
        <td><a href="<%= edit_chemical_question_path(cq.id) %>"><%= cq.chemical.name %></a></td>
        <td><%= cq.question %></td>
        <td><%= cq.answer %></td>
      </tr>
  <% end %>  
  </tbody>
</table>
<a href="<%= new_chemical_question_path %>">New Chemical Question</a>
