<table>
  <thead>
    <tr>
      <th>Water Provider Name</th>
      <th>Chemical</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
  <% @water_qualities.each do |wq| %>
    <tr>
      <td><a href="<%= edit_water_quality_path(wq.id) %>"><%= wq.water_provider.name %></a></td>
      <td><%= wq.chemical.name %></td>
      <td><%= wq.chemical_amount %></td>
      <td><%= wq.unit.name %></td>
    </tr>
  <% end %>  
  </tbody>
</table>
<a href="<%= new_water_quality_path %>">New Water Quality</a>
