<div><a href="<%= chemicals_path %>">Chemicals</a></div>
<div><a href="<%= chemical_categories_path %>">Chemical Categories</a></div>
<div><a href="<%= chemical_questions_path %>">Chemical Questions</a></div>
<div><a href="<%= locations_path %>">Locations</a></div>
<div><a href="<%= location_categories_path %>">Location Categories</a></div>
<div><a href="<%= location_subcategories_path %>">Location Subcategories</a></div>
<div><a href="<%= units_path %>">Units</a></div>
<div><a href="<%= water_providers_path %>">Water Providers</a></div>
<div><a href="<%= water_qualities_path %>">Water Qualities</a></div>
<div><%= link_to "Locations with problems", "/problems" %></div>
