  <% if current_user %>
	  <div id="feedback_form">
		  <%= form_tag("/feedback", method: "post") do %>
		    <%= label_tag(:message, "") %>
		    <%= text_area :message, cols: "30", rows: "10", class: "fieldtag" %>
		    <%= hidden_field_tag "email", current_user.email %>
		    <%= submit_tag ("Send") %>
		  <% end %>
	  </div>
  <% else %>
  <h2> You must be logged in to send us feedback! </h2>
<% end %>