<div id='cntm-topbar'>
  <div id='cntm-topbar-nav'>
    <span id='cntm-topbar-back' class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    <span id='cntm-topbar-menu' class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
  </div>
  <div id='cntm-topbar-header'>
    <p class="title"><strong>Add Location</strong></p>
    <!-- description does not yet exist -->
    <p class="description">Add a Water Source Location that you have found in the area.</p>
  </div>
</div>

<div class="center-modal"><button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-info center-block">Add Location</button></div>

<!-- line modal -->
<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <h3 class="modal-title" id="lineModalLabel">Add Location</h3>
    </div>
    <div class="modal-body">
    <!-- content goes here -->
    <%= form_for :location , url: {action: "create"}, method: "post" do |f| %>
      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address %><br>
        <%= f.label :city %>
        <%= f.text_field :city %><br>
        <%= f.label :zip %>
        <%= f.text_field :zip %><br>
      </div>
      <div class="form-group">
        <%= f.label :water_type %>
        <%= f.select :water_type, ['Filtered', 'Tap', 'Natural Sources'], :include_blank => true %>
      </div>
      <div class="form-group">
        <label for="exampleInputFile">Image (upload):</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Uploaded Image Above</p>
      </div>
    </div>
      <div class="modal-footer">
        <center>
        <%= f.submit 'Add location' %>
        </center>
    <% end %>
      </div>
    </div>
  </div>
  </div>
</div>

<div id=cntm-dropup-menu class="menu-closed">
  <ul>
    <li class="cntm-dropup-item"><a href="#">Share this</a></li>
    <li class="cntm-dropup-item"><a href="#">Recommended Products</a></li>
    <li id="cntm-dropup-menu-close"><a href="#">Cancel</a></li>
  </ul>
</div>

<script>
  $(document).ready(function(){
    $("#sidebar-wrapper").hide();
    console.log("tried to hide sidebar-wrapper")
    $("#hamburger-menu-button").hide();
    console.log("tried to hide hamburger-menu-button");
    $("#page-content-wrapper").css("padding-top","0px");
  });
  $('.collapse').on('shown.bs.collapse',
    function(){
      $(this).parent().find(".glyphicon-menu-right").removeClass("glyphicon-menu-right").addClass("glyphicon-menu-down");
      $(this).parent().find(".panel-title").addClass("selected");
    }
  ).on('hidden.bs.collapse',
    function(){
      $(this).parent().find(".glyphicon-menu-down").removeClass("glyphicon-menu-down").addClass("glyphicon-menu-right");
      $(this).parent().find(".panel-title").removeClass("selected");
    }
  );
</script>