<div class="new-location-page">
  <div id='cntm-topbar'>
    <div id='cntm-topbar-header'>
      <p class="alheader"><strong>Add Location</strong></p>
      <!-- description does not yet exist -->
      <p class="description">Add a Water Source Location that you have found in the area.</p>
    </div>
  </div>

  <div class="new-location-form">
    <%= form_for :location , url: {action: "create"}, method: "post" do |f| %>
      <div class="form-group">
        <p class="location-form-text" style="color:white;"><%= f.label :name_of_business %></p>
        <p class="location-form-text"><%= f.text_field :name_of_business %><br><br></p>
        <p class="location-form-text" style="color:white;"><%= f.label :address %></p>
        <p class="location-form-text"><%= f.text_field :address, :value => params[:address] %><br><br></p>
        <p class="location-form-text" style="color:white;"><%= f.label :city %></p>
        <p class="location-form-text"><%= f.text_field :city, :value => params[:city] %><br><br></p>
        <p class="location-form-text" style="color:white;"><%= f.label :state %></p>
        <p class="location-form-text"><%= f.text_field :state, :value => params[:state] %></p>
        <%= f.hidden_field :google_place, :value => params[:google_place] %>
      </div>

      <div class="form-group">
        <p class="location-form-text" style="color:white;">Water Type: (must select at least one)<br>
        <%= f.label :filtered %>
        <%= f.check_box :filtered %>
        <%= f.label :fountain %>
        <%= f.check_box :fountain %>
        <%= f.label :eco_alternative %>
        <%= f.check_box :eco_alternative %></p>
      </div>

      <center>
        <%= f.submit 'Add location', class:"location-form-btn" %>
      </center>
    <% end %>
  </div>

</div>