<br><br><br><br>
Your search results for: "<%= @place %>"
<br>
<br>

<% @results.each do |result| %>
  <p><%= result["description"] %></p>
  <% description = result["description"].split(", ") %>

  <%= form_tag "/locations/new", method: :get do %>
    <%= hidden_field_tag :address, description[0] %>
    <%= hidden_field_tag :city, description[1] %>
    <%= hidden_field_tag :state, description[2] %>
    <%= hidden_field_tag :google_place, result["place_id"] %>
    <%= submit_tag "Add Location" %>
  <% end %>
<% end %>