<% if current_user %>
  <%= link_to "Flag", "/problems/new?location_id=#{@location.id}"%>
<% end %>

<br>

<div class="container">
  <div class="img-responsive" alt="Responsive image">
    <% if @c.instance_variable_get(:@photos).length != 0 %>
    <%= image_tag(@c.instance_variable_get(:@photos)[0].fetch_url(350)) %>
    <% end %>
  </div>
    <% if @c.instance_variable_get(:@name) %>
      <h1>
      <%= @c.instance_variable_get(:@name) %>
      </h1>
    <% else %>
      <p>Unknown</p>
    <% end %>
<div>
  <% if @c.instance_variable_get(:@types) %>
    <% @c.instance_variable_get(:@types)[0].split("_").each do |word| %>
    <%= word %>
    <% end %>
  <% end %>
</div>
<!-- Map Section -->
  <div class="container-fluid content-sm">
    <div class="row">
      <div class="col-sm-12 col-xs-12 text-center">
        <div id="map">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-xs-12 ">
        <br>
        <p> <%= @c.instance_variable_get(:@formatted_address) %> </p>
        <% if @c.instance_variable_get(:@opening_hours) %>
        <p> <% if @c.instance_variable_get(:@opening_hours)["open_now"] %>
        Open Now
        <% else %>
        Closed
        <% end %>,
        <%= @c.instance_variable_get(:@opening_hours)["weekday_text"].rotate(-1)[Time.now.wday] %> </p>
        <% else %>
          <p>Unknown hours</p>
      </div>
    </div>
    <% end %>
  </div>
</center>

<div class="row">
  <div class="col-sm-12 col-xs-12 ">
  <div class="col-xs-6">
    <%= @c.instance_variable_get(:@formatted_phone_number) %>
    </div>
  <div class="col-xs-6">
    <%= link_to "Website", "#{@c.instance_variable_get(:@website)}" %>
</div>
</div>
</div>
<br>
<div class="container">
<h4> Reviews </h4>
  <% @c.instance_variable_get(:@reviews)[0..2].each do |review| %>
    <p> <b><%= review.author_name %></b><br>
    <%= review.text %> </p>
    <br>
  <%end%>
  </div>
</div>

  <script>
    var map;
    function initMap() {
      var myLatLng = {lat: <%= @location.latitude %>, lng: <%= @location.longitude %>};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCliRHoi2eYcLfew2R6fSNkFRu2W1YE7Hs&callback=initMap"
  async defer>
  </script>

<!-- add favorite button -->
<div>
  <button type="submit" class="js-favorite-btn my-btn-1 btn btn-primary" data-favoriteId="<%= @favorite_id %>">Favorite <i class="js-border-heart material-icons">favorite_border</i> <i class="js-filled-heart material-icons ">favorite</i> </button>
</div>


  <script>
    $(document).ready(function() {
      var favorite = "<%=@favorite_id %>"

      if(favorite) {
        $(".js-border-heart").hide();
      } else {
        $(".js-filled-heart").hide();
      }

      $(".js-favorite-btn").click(function() {
        if($(".js-border-heart").is(":visible")) {
          $.ajax({
           url: "<%= api_v1_saved_locations_path %>",
           method: 'POST',
           data: {
             location_id: "<%= @location.id %>",
             user_id: "<%= current_user.id %>",
           },
           success: function( result ) {
              $(".js-favorite-btn").data("favoriteId", result.id);
              $(".js-border-heart").hide();
              $(".js-filled-heart").show();
           }
          });
        } else {
          var favId = $(".js-favorite-btn").data("favoriteId");
          $.ajax({
           url: "/api/v1/saved_locations/" + favId,
           method: 'DELETE',
           success: function( result ) {
              $(".js-favorite-btn").data("favoriteId", "");
              $(".js-filled-heart").hide();
              $(".js-border-heart").show();
           }
          });
        }
      });


    })
  </script>
