<% if current_user %>
  <%= link_to "Flag", "/problems/new?location_id=#{@location.id}"%>
<% end %>
<br>

<div class="container">
  <div class="img-responsive" alt="Responsive image">
    <% if @c.instance_variable_get(:@photos).length != 0 %>
    <%= image_tag(@c.instance_variable_get(:@photos)[0].fetch_url(350)) %>
    <% end %>
  </div>
    <% if @c.instance_variable_get(:@name) %>
      <h1>
      <%= @c.instance_variable_get(:@name) %>
      </h1>
    <% else %>
      <p>Unknown</p>
    <% end %>
<div>
  <% if @c.instance_variable_get(:@types) %>
    <% @c.instance_variable_get(:@types)[0].split("_").each do |word| %>
    <%= word %>
    <% end %>
  <% end %>
</div>
<!-- Map Section -->
  <div class="container-fluid content-sm">
    <div class="row">
      <div class="col-sm-12 col-xs-12 text-center">
        <div id="map">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-xs-12 ">
        <br>
        <p> <%= @c.instance_variable_get(:@formatted_address) %> </p>
        <% if @c.instance_variable_get(:@opening_hours) %>
        <p> <% if @c.instance_variable_get(:@opening_hours)["open_now"] %>
        Open Now
        <% else %>
        Closed
        <% end %>, 
        <%= @c.instance_variable_get(:@opening_hours)["weekday_text"].rotate(-1)[Time.now.wday] %> </p>
        <% else %>
          <p>Unknown hours</p>
      </div>
    </div>
    <% end %>
  </div>
</center>

<div class="row">
  <div class="col-sm-12 col-xs-12 ">
  <div class="col-xs-6">
    <%= @c.instance_variable_get(:@formatted_phone_number) %>
    </div>
  <div class="col-xs-6">
    <%= link_to "Website", "#{@c.instance_variable_get(:@website)}" %>
</div>
</div>
</div>
<br>
<div class="container">
<h4> Reviews </h4>
  <% @c.instance_variable_get(:@reviews)[0..2].each do |review| %>
    <p> <b><%= review.author_name %></b><br>
    <%= review.text %> </p>
    <br>
  <%end%>
  </div>


  <script>
    var map;
    function initMap() {
      var myLatLng = {lat: <%= @location.latitude %>, lng: <%= @location.longitude %>};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCliRHoi2eYcLfew2R6fSNkFRu2W1YE7Hs&callback=initMap"
  async defer>
  </script>
