<div id="fb-root"></div>
<h2 class="showheader"><%=@c.name%></h2>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div class="container-show">

<% if current_user %>
  <%= link_to "Flag", "/problems/new?location_id=#{@location.id}"%>
<% end %>

<br>

  <% if @allpictures %>
    <%= render partial: "carousel" %>
  <% else %>
    <center><div class="no-carousel">No Image Provided</div></center>
  <% end %>

  <div class="loc-header-buttons-container">
    <div class ="locheader">
      <% if @c.instance_variable_get(:@name) %>
        <h1>
          <%= @c.instance_variable_get(:@name) %>
        </h1>
      <% else %>
        <p>Unknown</p>
      <% end %>
      <% if @c.instance_variable_get(:@types) %>
        <h3><% @c.instance_variable_get(:@types)[0].split("_").each do |word| %>
          <%= word.capitalize %>
        <% end %></h3>
      <% end %>
    </div>
  </div>

  <div class= "btn-container-outer">
    <div class= "btn-container">
      <div class="js-favorite-btn"> <div class="btn-item-icon topbutton-save" data-favoriteId="<%= @favorite_id %>"> <div> <i class="js-border-heart material-icons">favorite_border</i> <i class="js-filled-heart material-icons ">favorite</i> </div> <div class="spacing"> SAVE</div></div></div>
      <div class="topbutton-add addimage"> <div> <i class="material-icons">wallpaper</i> </div> <div class="spacing"> ADD PHOTO </div> </div>
      <div class="topbutton-share shareButton"> <div> <i class="material-icons">group_add</i> </div> <div class="spacing"> SHARE </div> </div>
    </div>
  </div>
  <div class= "jumbo-wrapper">
    <div class="jumbotron" id="share-jumbo" style="display:none">
      <p>LINK:</p>
      <p><%= request.original_url %></p>
      <div class="col-sm-4 col-xs-12">
        <div class="fb-share-button" data-href="http://localhost:3000/locations/1" data-layout="button" data-size="large" data-mobile-iframe="true">
          <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A3000%2Flocations%2F1&amp;src=sdkpreparse">Share</a>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false" data-size="large">Tweet</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="col-sm-4 col-xs-12 sms-btn">
      </div>

      <button class="btn btn-default shareButton">Close</button>
    </div>
  <div>

  <!-- add favorite button -->
  <!-- <div>
    <button type="submit" class="btn-style js-favorite-btn my-btn-1 btn btn-primary" data-favoriteId="<%= @favorite_id %>">Save <i class="js-border-heart material-icons">favorite_border</i> <i class="js-filled-heart material-icons ">favorite</i> </button>
  </div> -->

  <script>
    $(document).ready(function() {
      var favorite = "<%=@favorite_id %>"

      if(favorite) {
        $(".js-border-heart").hide();
      } else {
        $(".js-filled-heart").hide();
      }

      <% if current_user %>

        $(".addimage").on("click", function() {
          $(".js-image-upload").click();
        });


        $(".js-favorite-btn").click(function() {
          if($(".js-border-heart").is(":visible")) {
            $.ajax({
             url: "<%= api_v1_saved_locations_path %>",
             method: 'POST',
             data: {
               location_id: "<%= @location.id %>",
               user_id: "<%= current_user.id %>",
             },
             success: function( result ) {
                $(".js-favorite-btn").data("favoriteId", result.id);
                $(".js-border-heart").hide();
                $(".js-filled-heart").show();
             }
            });
          } else {
            var favId = $(".js-favorite-btn").data("favoriteId");
            $.ajax({
             url: "/api/v1/saved_locations/" + favId,
             method: 'DELETE',
             success: function( result ) {
                $(".js-favorite-btn").data("favoriteId", "");
                $(".js-filled-heart").hide();
                $(".js-border-heart").show();
             }
            });
          }
        });
      <% end %>

      $(".shareButton").on("click", function() {
        var share = document.getElementById("share-jumbo");
        if (share.style.display === 'none') {
          share.style.display = '';
        } else {
          share.style.display = "none";
        }
      });

    });
  </script>

  <!-- Map Section -->
  <div class="container-fluid content-sm">
    <div class="row">
      <div class="col-sm-12 col-xs-12 text-center">
        <div id="map">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-xs-12 ">
        <br>
        <button type="button" class="btn btn-default widebtn">
          <%= @c.instance_variable_get(:@formatted_address) %></button>
        <button type="button" class="btn btn-default widebtn">
          <% if @c.instance_variable_get(:@opening_hours) %>
          <% if @c.instance_variable_get(:@opening_hours)["open_now"] %>
          Open Now
        <% else %>
        Closed
        <% end %>,
        <%= @c.instance_variable_get(:@opening_hours)["weekday_text"].rotate(-1)[Time.now.wday] %> </p>
        <% else %>
          <p>Unknown hours</p>
      </div>
    </div>
        <% end %>
        </button>
  </div>

  <div class="row container-fluid content-sm">
    <div class="col-sm-12 col-xs-12 ">
      <div class="col-xs-6">
        <a href="tel:<%= @c.instance_variable_get(:@formatted_phone_number)%>" class="btn btn-default narrowbtnlft">
        <span class="glyphicon glyphicon-phone"></span> Call
        </a>
      </div>
      <div class="col-xs-6">
        <a href="<%=@c.instance_variable_get(:@website)%>" target="_blank" class="btn btn-default narrowbtnright">
        <span class="glyphicon glyphicon-globe"></span> Website
        </a>
      </div>
    </div>
  </div>

</div>

  <br>

  <% if current_user %>
    <%= form_for @image, url: "/uploaded_images", html: { multipart: true } do |form| %>
      <%= form.file_field :image, class: "js-image-upload", style: "display:none;"  %>
      <%= form.hidden_field :location_id, :value => @location.id %>
      <%= form.hidden_field :user_id, :value => current_user.id %>
    <% end %>
  <% end %>


<script>
  $(document).ready(function() {
    $(".js-image-upload").change(function() {
      $(this).closest('form').submit();
    });
  });
</script>


  <h4 class="reviewtitle"> Reviews </h4>
  <div class="review well">
  <a href="<%=@c.url%>" target="_blank" class="reviewbutton" style="text-decoration:none;">
    <% @c.instance_variable_get(:@reviews)[0..2].each do |review| %>
      <p> <b><%= review.author_name %></b><br>
      <%= review.text %> </p>
      <br>
    <%end%>
    </a>
  </div>


<script>
  var map;
  function initMap() {
    var myLatLng = {lat: <%= @location.latitude %>, lng: <%= @location.longitude %>};

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: myLatLng,
      zoomControl: false,
      scaleControl: false,
      draggable: false,
      scaleControl: false,
      scrollwheel: false,
      streetViewControl: false
    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCliRHoi2eYcLfew2R6fSNkFRu2W1YE7Hs&callback=initMap"
async defer>
</script>
